/*References
Backgrounds - https://blog.logrocket.com/advanced-effects-with-css-background-blend-modes-4b750198522a/
*/

/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Variables + Config*/
:root {
    color-scheme: dark only;
    /*Colour*/
    --accent-colour: rgb(120, 93, 226);
    --primary-colour: black;
    --alt-primary-colour: white;

    /*Appearance*/
    --border-radius: 20px;
    --default-drop-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    /*Fonts*/
    --default-font-family: 'Ubuntu', sans-serif;
    --base-font-size: 20px;
}

/*Elements*/
html {
    background-color: black;
    scroll-behavior: smooth
}

body {
    font-family: var(--default-font-family);
    font-size: var(--base-font-size);
    color: var(--alt-primary-colour);
    accent-color: var(--accent-colour);
}

main {
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
}

/*
* These link colours are taken from Firefox.
* They make links visible in browsers that do not respect the color-scheme meta element
*/
a:link {
    color: rgb(120, 115, 254);
}

a:visited {
    color: rgb(253, 150, 255);
}

article header h2 {
    margin-bottom: 0;
}

article header h3 {
    font-style: italic;
    font-weight: 700;
    margin: 0;
}

aside {
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid #FFF;
    border-radius: var(--border-radius);
    padding: 16px;
}

code {
    border-radius: var(--border-radius);
    background: rgba(0, 0, 0, 0.7);
}

dt {
    font-weight: 700;
}

img {
    max-width: 100%;
    max-height: 500px; /*Safe guard for extra large images*/
    border: 1px solid #FFF;
    border-radius: calc(var(--border-radius) / 2);
}

figure {
    padding: 16px;
    border-radius: var(--border-radius);
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.7);
    margin-left: 0;
    margin-right: 0;
}

figure img {
    border: unset;
    border-radius: unset;
}

figcaption {
    font-size: 0.8em;
    font-weight: 700;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    /*width and height are a bit of a hack to size and align things correctly*/
    width: 100%;
    height: 100%;
    justify-content: center;
}

input[type=submit] {
    background: var(--accent-colour);
    border: 0;
    border-radius: var(--border-radius);
    padding: 16px;
}

input[type=text], input[type=email], textarea {
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid #FFF;
    border-radius: var(--border-radius);
    padding: 16px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 0;
}

label, input[type=submit] {
    margin-top: 1em;
}

table {
    font-size: 0.85rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: var(--border-radius);
    border: 1px solid #FFF;
}

textarea {
    resize: none;
    min-height: 4em; /*4 lines of content*/
}

td {
    border-top: 1px solid #FFF;
}

/*Classes + ids*/
.clear {
    clear: both;
}

.contact-column-split {
    column-count: 1;
}

.contact-group {
    display: block;
}

.contact-group-item {
    margin: 0 !important; /*Forcefully override the margin on .group-item*/
}

.contact-hero {
    height: 60vh;
}

.entry-nav {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: var(--border-radius);
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.7);
    align-self: stretch;
}

.entry-nav a {
    color: inherit;
    text-decoration: none;
}

.entry-nav a:hover {
    color: var(--accent-colour);
}

.entry-nav menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.float-left .float-item {
    float: left;
}

.float-right .float-item {
    float: right;
}

.floating-action-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: var(--default-drop-shadow);
}

.group-container {
    display: flex;
    flex-wrap: wrap;
}

.group-item {
    box-sizing: border-box; /*Includes padding and border when calculating width*/
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
}

.hero {
    display: flex;
    height: 100vh;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    text-shadow: black 0 4px 4px;
}

.hero h1 {
    margin: 0;
}

.hidden {
    display: none;
}

.icon-button {
    background: var(--accent-colour);
    border-radius: 500px;
    padding: 1rem;
    color: var(--alt-primary-colour);
}

.icon-button span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-column-container {
    columns: 1;
}

.not-mobile {
    display: none;
}

.top-nav {
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 16px;
}

.top-nav a {
    color: inherit;
    text-decoration: none;
    text-shadow: black 0 4px 4px;
}

.top-nav a:hover {
    color: var(--accent-colour);
}

.top-nav menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
}

/*Causes slowdown on Firefox :(*/
.wave-background {
    background: radial-gradient(
            at bottom right,
            dodgerblue 0,
            dodgerblue 1em,
            lightskyblue 1em,
            lightskyblue 2em,
            deepskyblue 2em,
            deepskyblue 3em,
            gainsboro 3em,
            gainsboro 4em,
            lightsteelblue 4em,
            lightsteelblue 5em,
            deepskyblue 5em,
            deepskyblue 6em,
            lightskyblue 6em,
            lightskyblue 7em,
            transparent 7em,
            transparent 8em
    ),
    radial-gradient(
            at top left,
            transparent 0,
            transparent 1em,
            lightskyblue 1em,
            lightskyblue 2em,
            deepskyblue 2em,
            deepskyblue 3em,
            lightsteelblue 3em,
            lightsteelblue 4em,
            gainsboro 4em,
            gainsboro 5em,
            deepskyblue 5em,
            deepskyblue 6em,
            skyblue 6em,
            skyblue 7em,
            dodgerblue 7em,
            dodgerblue 8em,
            transparent 8em,
            transparent 20em
    ),
    radial-gradient(
            circle at center bottom,
            darkslateblue, darkslateblue
    );

    background-blend-mode: overlay;
    background-size: 8em 8em, 8em 8em, cover;
}

#wrapper {
    max-width: 100%;
}

/*Queries*/

/*Tablet - Portrait*/
@media (min-width: 600px) {
    a.nav {
        display: block;
        position: relative;
        top: -122px; /*Size of entry nav(90px) + top offset(16px) + 16px padding below*/
        visibility: hidden;
    }

    .entry-nav {
        position: sticky;
        top: 16px;
        border-radius: 500px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.3);
        box-shadow: var(--default-drop-shadow);
    }

    .entry-nav a {
        text-align: center;
    }

    .entry-nav li {
        text-align: center; /*https://www.andy-howard.com/verticalAndHorizontalAlignment/index.html#*/
    }

    .entry-nav menu {
        display: flex;
        justify-content: space-between; /*https://css-tricks.com/almanac/properties/j/justify-content/*/
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .group-item {
        flex: 1 1 calc(calc(100% / 2) - 16px); /*Allows up to 2 items in a single row but also allows elements to expand when there are less then 3: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Mastering_wrapping_of_flex_items#wrapping_and_flex-direction*/
        margin: 8px;
    }

    .mobile {
        display: none;
    }

    .multi-column-container {
        columns: 2;

        h2 {
            column-span: all;
        }

        p {
            break-inside: avoid;
        }
    }

    .not-mobile {
        display: inherit;
    }

    #wrapper {
        align-content: center;
        max-width: 70%;
        margin: 0 auto;
    }
}

/*Tablet - Landscape+*/
@media (min-width: 992px) {
    .contact-group {
        display: flex;
    }

    .contact-hero {
        height: 100vh;
    }
}